<template name="statusDBTransaction">
    <div class="u-letter-box-xlarge">
        <div class="o-container o-container--xlarge">
            <h1> Data Base Status </h1>
            <table class="c-table c-table--striped">
                <thead class="c-table__head">
                    <tr class="c-table__row c-table__row--heading">
                        <th class="c-table__cell"> CSV </th>
                        <th class="c-table__cell"> Hash </th>
                        <th class="c-table__cell"> Transaction Address </th>
                        <th class="c-table__cell"> Data </th>
                        <th class="c-table__cell"> Contract Address </th>
                    </tr>
                </thead>
                <tbody class="c-table__body">
                    {{#each transactions}}
                    <tr class="c-table__row">
                        <td class="c-table__cell"> {{this.csv}} </td>
                        <td class="c-table__cell"> {{this.hashData}} </td>
                        <td class="c-table__cell"> <a target="_blank" rel="noopener noreferrer" href="https://ropsten.etherscan.io/tx/{{this.transactionAddress}}">EtherScan</a>
                        </td>
                        <td class="c-table__cell"> {{this.codedData}} </td>
                        <td class="c-table__cell"> <a target="_blank" rel="noopener noreferrer" href="https://ropsten.etherscan.io/address/{{this.contractAddress}}#readContract">EtherScan</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>